body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

#countryInfo {
    margin-top: 20px;
}

.flag, .coatOfArms {
    width: 200px;
    height: auto;
    margin: 10px;
}

.currency, .capital, .languages {
    margin: 10px 0;
}
input[type="text"] {
    padding: 10px;
    width:auto;
}

button {
    padding: 0px 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.hidden {
    display: none;
}

footer {
    display: flex;

}

.footer {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    justify-content: bottom;
    border-top: 2px solid black;
    padding-top: 50px;
    margin-top: 350px;
    width: 100vw;
}

.footer-text {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
    padding: 0 40vw;
    justify-content: center;
}

.footer-text p {
    margin: auto;
    font-size: 15px;
}